{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}

        {% if result is defined %}
            <p>Answer: {{ result }}</p>
        {% endif %}
    </main>
{% endblock %}